body {
  -ms-overflow-style: none;
  width: 100vw;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

.section {
  margin-top: 0px;
  width: 100vw;
  height: 100vh;
}
.textarea {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 8fr 2fr;
}

.box {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__textarea {
  grid-row: span 2;
}
.grid__result {
  font-size: 3rem;
  font-weight: 600;
}
.grid__button {
  background-color: chartreuse;
}
