.textarea__source {
  height: 100vh;
}

.textarea__dist::placeholder {
  color: black;
}
.textarea__dist {
}

.textarea__dist::placeholder {
  color: black;
}

.grid__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.count {
}

.btn__copy {
  width: 15rem;
}
